:root {
  --bg: #e8eaf6;
  --title: #263238;
  --text: #212121;
  --red: #f50057;
  --gray: rgb(141, 137, 137);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}
.container {
  /* padding: 0 10rem;
  border: 1px solid red; */
}
.delete-icon {
  color: var(--red);
  cursor: pointer;
}
.card-title {
  color: var(--title);
}
.card-text {
  color: var(--text);
}
.small_data {
  float: right;
  color: var(--gray);
}
.search_section {
  width: 40rem;
  margin: 0 auto;
}
input {
  outline: 0;
  border: none;
}
.notallow {
  cursor: not-allowed;
  /* background-color: rgb(229, 229, 229) !important; */
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
